<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Linechart</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="column_hart_div" style="width: 75%; height: 400px;"></div>
<div id="scatter_chart_div" style="width: 75%; height: 400px;"></div>

<script th:inline="javascript">

    let real_data = /*[[${chartData}]]*/'noValue';

    $(document).ready(function() {
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawColumnChart);
        google.charts.setOnLoadCallback(drawChart);
        setTimeout(function(){location = ''},10000)
    });


    function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Views');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'Blog stats',
            hAxis : {
                title : 'Years',
            },
            vAxis : {
                title : 'View Count'
            }
        };
        var chart = new google.visualization.ColumnChart(document
            .getElementById('column_hart_div'));

        chart.draw(data, options);
    }

    ///////////////////////

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Years');
        data.addColumn('number', 'Views');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ parseInt(key), real_data[key] ]);
        });
        var options = {
            title : 'Blog stats',
            hAxis : {title : 'Years'},
            vAxis : {title : 'View Count'},
            trendlines: { 0: {} }    // Draw a trendline for data series 0.
        };
        var chart = new google.visualization.ScatterChart(document
            .getElementById('scatter_chart_div'));
        chart.draw(data, options);
    }

</script>

</body>
</html>